body {
margin: auto;
}

.head {
    background-image: url("img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat;
    background-size: 20%;
    height: 50px;
    padding-top: 20px;
}

.logo {
    display: block;
    padding-left: 5px;
    height: 100%;
    width: auto;
}

main {
   padding-left: 30px;
   padding-right: 30px;
}

.main-title {

}

.subtitle {
    color: rgb(146, 146, 146);
}

a {
    color: #4EA0FF;
    text-decoration: none;
}

.photo-tim {
    padding-top: 10px;
}

.main-text {
    padding-top: 10px;
}

.highlighted {
    background-color: yellow;
}