body {
margin: auto;
}

body > header {
    background-image: url("img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat;
    background-size: 20%;
    height: 50px;
    padding-top: 20px;
}

.logo {
    display: block;
    padding-left: 5px;
    max-height: 50px;
    width: auto;
}

main {
   padding-left: 30px;
   padding-right: 30px;
}

main >* {
    margin-bottom: 1rem;
}

main, .head {
   margin: 0 auto;
   max-width: 1024px;
}

.title {
    margin: 15px 0px;
}

.subtitle {
    color: rgb(146, 146, 146);
    font-size:larger;
}

h1 {
    font-weight: 900;
    margin: 0;
}

a {
    color: #4EA0FF;
    text-decoration: none;
}

.photo-tim {
    padding-top: 10px;
}

.highlighted {
    background-color: yellow;
}

.bottom {
    padding-top: 20px;
}

.bottom-photo {
    padding-top: 10px;
    position: relative;
    color: white;    
}

.top-left {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size:larger;
}

ul {
    padding-left: 15px;
}

.info {
    width: 100%;
    margin-bottom: 15px;
}

.info > header {
    background-color: #20a9e5;
    color: white;
}

.info section {
display: flex;
align-items: center;
}

.info > header, .info > section {
    width: 100%;
    display: flex;
}

.info > header > div:nth-child(1), .info > section > div:nth-child(1) {
    flex: 25%;
}

.info > header > div:nth-child(2), .info > section > div:nth-child(2) {
    flex: 25%;
}
.info > header > div:nth-child(3), .info > section > div:nth-child(3) {
    flex: 50%;
}

.info > section:nth-child(even) {
    background-color: #b1e5f2;
}